body{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}
nav {
    max-width: 100vw;
    background-color: #C4C4C4;
    opacity: 0.7;
    display: flex;
}

ul {
    list-style: none;
}

.nav__elements{
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 88%;
    align-items: center;
    display: flex;
}
.nav__logo{
    margin-top: 5px;
    cursor: pointer;
    width: 140px;
    height: 27px;
    background-color: transparent;
    opacity: 1;
}
.nav__ul{
    display: inline-flex;
    margin-left: 2.2%;
}
.nav__ul__submenu{
    display: none;
    position: absolute;
    background-color: #C4C4C4;
}
.nav__li__submenu{
    position: relative;
    margin-top: 15px;
    margin-bottom: 8px;
    left: -38px;
    top: 0px;
}
.nav__list{
    height: 19;
    width: 104;
    cursor: pointer;
    margin-left: 25px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    color: #000000;
    letter-spacing: 0px;
    opacity: 1;
}
.nav__menuHamburguesa{
    margin-left: 2%;
    cursor: pointer;
    display: none;
}
.main__container{
    display: grid;
    grid-template-columns: 17.5% 72.5%;
    column-gap: 2%;
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5%;
}
.main__sideBar{
    background-color: #CA5310;
    opacity: 1;
    height: 623px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Lato', sans-serif;
    color: #000000;
    letter-spacing: 0px;
}
.main__products{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    column-gap: 20px;
}
.product__card{
    display: block;
    width: 200px;
    height: 300px;
    background-color: #EAEAEA;
    border: 1.5px solid black;
    margin-bottom: 8%;
    opacity: 1;
}
.product__image{
    width: 170px;
    height: 170px;
    margin: 12px 15px;
    border: 1px solid #000000;
    opacity: 1;
}
.product__title{
    margin-left: 15px;
    margin-top: -7px;
    text-align: left;
    font: normal normal bold 12px/15px Lato;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.product__manufacturer{
    margin-left: 15px;
    text-align: left;
    font: normal normal normal 12px/15px Lato;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.product__price{
    margin-left: 15px;
    text-align: left;
    font: normal normal normal 12px/15px Lato;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.product__buyButton{
    display: flex;
    margin-left: 15px;
    width: 170px;
    height: 26px;
    background: #C4C4C4 0% 0% no-repeat padding-box;
    align-items: center;
    opacity: 1;
}
.product__buyButton--text{
    font: normal normal bold 14px/17px Lato;
    letter-spacing: 0px;
    margin:0 auto;
    color: #000000;
    opacity: 1;
}

@media (max-width: 1148px) {
    .main__sideBar{
        height: 98.4%;
        min-height: 700px;
    }
    .main__container{
        display: grid;
        grid-template-columns: 17.5% 72.5%;
        max-width: 88%;
    }
    .main__products{
        display: grid;
        width: 90%;
        grid-template-columns: 33% 33% 33%;
        column-gap: 2.7%;
        margin: 0 auto;
    }
}

@media (max-width: 1000px) {
    .main__sideBar{
        height: 98.6%;
    }
    .main__container{
        display: grid;
        grid-template-columns: 23% 77%;
        max-width: 88%;
    }
    .main__products{
        display: grid;
        width: 90%;
        grid-template-columns: 50% 50%;
        column-gap: 2.7%;
        justify-content: center;
        margin: 0 auto;
    }
    .product__card{
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 300px;
        background-color: #EAEAEA;
        border: 1.5px solid black;
        margin-bottom: 8%;
        opacity: 1;
    }
    .product__image{
        border: 1px solid black;
        width: 170px;
        height: 170px;
        margin: 12px auto;
        border: 1px solid #000000;
        opacity: 1;
    }
    .product__title{
        margin-left: 19px;
        margin-top: -2px;
    }
    .product__manufacturer{
        margin-left: 19px;
        margin-top: -2px;
    }
    .product__price{
        margin-left: 19px;
        margin-top: -2px;
    }
}

@media (max-width: 645px) {
    .nav__elements{
        width: 100vw;
        height: 70px;
    }
    .nav__logoContainer{
        display: inline-flex;
        margin-left: auto;
        margin-right: auto;
    }
    .nav__logo{
        width: 165px;
        height: 34px;
        opacity: 1;
    }
    .nav__ul{
        display: none;
    }
    .nav__menuHamburguesa{
        display: flex;
        position: absolute;
        width: 52px;
        height: 53px;
    }
    .main__sideBar{
        display: none;
    }
    .main__container{
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
    }
    .main__products{
        display: grid;
        min-width: 95%;
        grid-template-columns: 50% 50%;
        column-gap: 27px;
    }
    .product__card{
        display: flex;
        flex-direction: column;
        margin-top: 18px;
        background-color: #EAEAEA;
        border: 1.5px solid black;
        margin: 14px auto;
        opacity: 1;
    }
    .footer{
        margin-top: 54px;
    }
    /* COMBINANDO CON JAVASCRIPT */

    .nav__ul--hamburguesa{
        list-style: none;
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 62px;
    }
    .nav__list{
        margin-top: 40px;
        margin-left: 0px;
    }
    .main__container--hamburguesa{
        display: none;
    }

}

@media (max-width: 427px) {
    .main__sideBar{
        display: none;
    }
    .main__container{
        display: grid;
        grid-template-columns: 100%;
        max-width: 80%;
    }

    .main__products{
        display: grid;
        width: 90%;
        grid-template-columns: 100%;
        margin: 0 auto;
    }
    .product__card{
        display: flex;
        flex-direction: column;
        width: 99%;
        height: 300px;
        background-color: #EAEAEA;
        border: 1.5px solid black;
        margin-bottom: 1%;
        opacity: 1;
    }
    .product__image{
        border: 1px solid black;
        width: 80%;
        height: 170px;
        margin: 12px auto;
        border: 1px solid #000000;
        opacity: 1;
    }
    .product__title{
        margin: 2px auto;
        text-align: left;
        font: normal normal bold 16px/15px Lato;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    .product__manufacturer{
        margin: 5px auto;
        text-align: left;
        font: normal normal normal 14px/15px Lato;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    .product__price{
        margin: 5px auto;
        text-align: left;
        font: normal normal normal 14px/15px Lato;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
    .product__buyButton{
        margin: 5px auto;
        width: 170px;
        height: 26px;
        background: #C4C4C4 0% 0% no-repeat padding-box;
        align-items: center;
        opacity: 1;
    }
    .product__buyButton--text{
        text-align: left;
        font: normal normal bold 14px/17px Lato;
        letter-spacing: 0px;
        color: #000000;
        opacity: 1;
    }
}

/* EJERCICIOS PUNTO 2 */
/* ITEM 1 */
#nav__item1:hover > .nav__ul__submenu{
    display: flex;
    flex-direction: column;
}
/* ITEM 2 */
.off__products{
    display: none;
}
